.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.actionsContainer {
  display: flex;
  gap: 10px;
}

.action {
  font-weight: 500;
  font-size: 14px;
  color: #0037dc;
  cursor: pointer;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0EAE09;
  height: 24px;
  width: 24px;
  border-radius: 999px;

  cursor: pointer;
}
